/**
 * Your CSS goes here.
 */

body{
    display: flex;
    background-color: pink;
    justify-content: space-between;
 }

.background{
text-align: center;
margin: 30px;
width: 40%;
 }

 .background p{
    font-size: 20px;
 }

 .background h1{
   font-family: 'Henny Penny', cursive;
   font-size: 60px;
 }

 .madlibs{
    padding: 30px;
    margin: 30px;
    width: 60%;
    text-align: center;
 }

 .madlibs{
    line-height: 30px;
 }

 /* new */

 input{
   width: 75px;
   border-radius: 5px;
   padding: 3px;
   border: 1px solid;
   
 }

 input:focus {
   background-color: rgb(236, 207, 207);
 }




 @media screen and (max-width: 415px){
   html, body{
      width: 100%;
   }

   body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      gap: 30px;
   }

   .background, .madlibs{
      margin: 0;
      padding: 0;
      width: 100%;
   }

   .madLibsEdit, .madLibsPreview{
      padding: 10px;
      font-size: 30px;
      line-height: 60px;
   }

   input{
      width: 120px;
      font-size: 20px;
   }
   
   .background p{
      font-size: 25px;
   }

   .background h1{
      font-size: 55px;
   }

 }
